.container{
    align-content: center;
    width: 50%;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
  }
.form-title{
    padding-top: 20px;
    padding-bottom:10px ;
}
.option{
  margin-left: 3px;
  margin-right: 10px;
  font-weight: bold;
}
.question{
  padding-top: 10px;
}
.button-previous{
  background-color: #555555; /* Black */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 45px;
  margin-left: 5px;
  border-radius: 4px;
}
.button-next{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 100px;
  border-radius: 4px;
}

.button-submit{
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px ;
  border-radius: 4px;
}
.podcast-title{
  margin-top: 20px;
  margin-bottom: 40px;
}
.question-box{
  margin:6px;
}